body {
    background-color: lightgray;
    font-family: 'SUITE';
}

nav {
    display: flex;
    justify-content: center;
}

main {
    margin: auto;
    max-width: 720px;
}

.games_main {
    max-width: 1280px;
}

header {
    margin-top: 30px;
    margin-bottom: 30px;
}

article {
    margin-top: 20px;
    margin-bottom: 50px;
}

p {
    line-height: 150%
}

ul {
    line-height: 150%
}

.nav_link {
    background-color: gray;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
}

.nav_link:hover {
    background-color: white;
    color: gray;
}

.page_title {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.page_divider {
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    text-align: center;
}

.caption_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    color: dimgray;
}

.notice_panel {
    background-color: whitesmoke;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 30px auto 30px auto;
}

.card_container {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
}

.card_item {
    width: 400px;
    background-color: whitesmoke;
    color: black;
    border-radius: 10px;
    margin: 10px;
    text-wrap: wrap;
    text-decoration: none;
}

.card_item_img {
    border-radius: 10px 10px 0px 0px;
}

.card_item_title {
    margin-top: 0px;
    margin-bottom: 10px;
}

.card_item_text {
    margin-top: 0px;
    margin-bottom: 0px;
}
